@import "../../dist/vendor/bootstrap/less/bootstrap";

@bgcolor: #3FC380;

body {
  // background-color: @bgcolor;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  position: relative;
}

header {
    height: 98px;
    margin-top: 30px;
}