<div ng-controller="SearchCtrl">
    <form>

      <div class="input-prepend">
        <span class="add-on"><i class="fa fa-search"></i></span>
        <input class="span2" type="text" placeholder="Course name" ng-model="search.name">
      </div>
    </form>

    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>Coursename</th>
            <th>Code</th>
            <th>owner</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="course in courses | filter:search">
            <td>{{course.name}}</td>
            <td>{{course.code}}</td>
            <td>{{course.owner}}</td>
        </tr>
        </tbody>
    </table>

</div>