<div class="row">
  <div class="col-xs-6">
    <h3 class='capitalize'>[{{currentCourse.code}}] {{currentCourse.name}}</h3>
    <span class='details-owner' >{{currentCourse.owner}}</span>
  </div>
  <div class="col-xs-6 more-details">
    <a uib-tooltip="{{avgGradeTip}}">Grade:</a> {{average}}, <a uib-tooltip="{{avgFailRateTip}}">Fail rate:</a> {{averageFailRate}} % <br>
    <a ng-click="showPercentage = !showPercentage" >{{showPercentage ? "Show Quantities" : "Show Percentage"}}</a>
  </div>

</div>


<canvas id="bar" class="chart chart-bar"
  chart-data="data"
  chart-labels="labels"
  chart-legend="legend"
  chart-series="series"
  chart-colours="colors">
</canvas>